body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

button, input {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}